.header {
    height: 34vw;
    margin: 30px auto;
    background: url('/header_img.png') no-repeat center;
    background-size: cover;
    position: relative;
    border-radius: 20px;
    overflow: hidden;
}

/* Overlay to darken the background */
.header::before {
    content: "";
    position: absolute;
    inset: 0;
    background: rgba(0, 0, 0, 0.4); /* Semi-transparent black */
    z-index: 1;
}

.header-contents {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 1.5vw;
    max-width: 50%;
    bottom: 10%;
    left: 6vw;
    animation: fadeIn 3s ease-in-out;
    z-index: 2; /* Ensure it's above the overlay */
}

.header-contents h2 {
    font-weight: 600;
    color: #ffffff;
    font-size: max(4.5vw, 22px);
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6); /* subtle shadow */
}

.header-contents p {
    color: #ffffff;
    font-size: 1.2vw;
    text-shadow: 0 2px 4px rgba(0, 0, 0, 0.6);
}

.header-contents button {
    border: none;
    color: #747474;
    font-weight: 500;
    padding: 1.2vw 2.5vw;
    background: white;
    font-size: max(1vw, 14px);
    border-radius: 50px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.header-contents button:hover {
    background: #f0f0f0;
}

@media (max-width: 1050px) {
    .header {
        height: 38vw;
    }
    .header-contents {
        max-width: 45%;
    }
}

@media (max-width: 750px) {
    .header-contents {
        max-width: 55%;
    }
    .header-contents p {
        display: none;
    }
    .header-contents button {
        padding: 2vw 4vw;
    }
}
